button.btn-dark-delete{
    background-color: #000;
    color: #fff;
    font-weight: bold;
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-item img.img-cart{
    width: 150px;
    height: auto;
}